node_modules
lib
config.json

.DS_Store

yarn-error.log

# Ignore test result files
@stellar/anchor-tests/src/tests/sep1/output/*.txt
@stellar/anchor-tests/src/tests/sep6/output/*.txt
@stellar/anchor-tests/src/tests/sep10/output/*.txt
@stellar/anchor-tests/src/tests/sep12/output/*.txt
@stellar/anchor-tests/src/tests/sep24/output/*.txt
@stellar/anchor-tests/src/tests/sep31/output/*.txt
@stellar/anchor-tests/src/tests/sep38/output/*.txt
@stellar/anchor-tests/src/tests/sep31And38/output/*.txt