node_modules
lib
config.json

.DS_Store

yarn-error.log

# Ignore test result files
@stellar/anchor-tests/src/tests/sep1/output/*
@stellar/anchor-tests/src/tests/sep6/output/*
@stellar/anchor-tests/src/tests/sep12/output/*
@stellar/anchor-tests/src/tests/sep10/output/*
@stellar/anchor-tests/src/tests/sep24/output/*
@stellar/anchor-tests/src/tests/sep31/output/*
@stellar/anchor-tests/src/tests/sep38/output/*
@stellar/anchor-tests/src/tests/sep381/output/*
@stellar/anchor-tests/src/tests/sep31And38/output/*
!@stellar/anchor-tests/src/tests/sep1/output/.gitkeep
!@stellar/anchor-tests/src/tests/sep6/output/.gitkeep
!@stellar/anchor-tests/src/tests/sep10/output/.gitkeep
!@stellar/anchor-tests/src/tests/sep12/output/.gitkeep
!@stellar/anchor-tests/src/tests/sep24/output/.gitkeep
!@stellar/anchor-tests/src/tests/sep31/output/.gitkeep
!@stellar/anchor-tests/src/tests/sep38/output/.gitkeep
!@stellar/anchor-tests/src/tests/sep381/output/.gitkeep
!@stellar/anchor-tests/src/tests/sep31And38/output/.gitkeep