.SepBlock {
  border-radius: 0.25rem;
  border: 1px solid transparent;
  padding: 0.25rem;
  padding-left: 2.5rem;
  margin-top: 1rem;
  width: 100%;
  line-height: 1.75rem;
  position: relative;
  background-color: rgba(var(--pal-brand-primary-rgb), 0.04);
  border-color: rgba(var(--pal-brand-primary-rgb), 0.3);
}
