.ResultBlock {
  border-radius: 0.25rem;
  border: 1px solid transparent;
  padding: 1rem;
  padding-left: 2.5rem;
  width: 100%;
  line-height: 1.75rem;
  position: relative;

  p {
    color: inherit;
  }
}