.TestConfigWrapper {
  margin-bottom: 2rem;
  width: 25rem;
}

.TestCasesWrapper {
	margin-top: 2rem;
}

.ButtonWrapper {
  margin-top: 1rem;
  display: inline-block;
}

.Button {
	display: inline !important;
	margin-right: 1rem;
}
