.TestConfigWrapper {
  margin-bottom: 2rem;
  width: 25rem;
}

.TestCasesWrapper {
	margin-top: 2rem;
}

.ButtonWrapper {
  margin-top: 1rem;
}

.TestHeader {
	background: var(--pal-background-primary);
	padding: 1.5rem;
	margin-bottom: 4px;
	font-weight: var(--font-weight-medium);
	border-radius: 0.25rem;
	border: 1px solid var(--pal-border-secondary);
}
