name: npm and docker build and publish
on:
  release:
    types: [published]

jobs:
  build-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"

      - name: Install Depencencies
        run: yarn install

      - name: Build
        run: yarn build:all

      - name: Publish npm package
        run: yarn publish:anchor-tests
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Docker Login
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v6.9.0
        with:
          push: true
          tags: stellar/anchor-tests:${{ github.event.release.tag_name }},stellar/anchor-tests:latest
          file: Dockerfile
